.team-card {
    background-color: var(--gray-scalewhite);
    border-radius: 8px;
    height: 368px;
    position: relative;
    width: 312px;
  }
  
  .team-card .image-8 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 4px;
    position: absolute;
  }
  
  .team-card .jenny-wilson {
    color: var(--gray-scalegray-900);
    font-family: var(--body-large-body-large-500-font-family);
    font-size: var(--body-large-body-large-500-font-size);
    font-style: var(--body-large-body-large-500-font-style);
    font-weight: var(--body-large-body-large-500-font-weight);
    letter-spacing: var(--body-large-body-large-500-letter-spacing);
    line-height: var(--body-large-body-large-500-line-height);
    margin-top: -1.00px;
    position: relative;
    width: 272px;
  }
  
  .team-card .ceo-founder {
    color: var(--gray-scalegray-500);
    font-family: var(--body-small-body-small-400-font-family);
    font-size: var(--body-small-body-small-400-font-size);
    font-style: var(--body-small-body-small-400-font-style);
    font-weight: var(--body-small-body-small-400-font-weight);
    letter-spacing: var(--body-small-body-small-400-letter-spacing);
    line-height: var(--body-small-body-small-400-line-height);
    position: relative;
    width: 272px;
  }
  
  .team-card .image-9 {
    height: 280px;
    left: -1px;
    object-fit: cover;
    position: absolute;
    top: -1px;
    width: 312px;
  }
  
  .team-card .frame-wrapper {
    background-image: url(https://c.animaapp.com/cRCWnf9W/img/image-7@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 280px;
    left: 0;
    position: absolute;
    top: 0;
    width: 312px;
  }
  
  .team-card .frame-5 {
    align-items: flex-start;
    display: inline-flex;
    gap: 4px;
    left: 70px;
    position: relative;
    top: 120px;
  }
  
  .team-card .social-media-2 {
    height: 40px !important;
    position: relative !important;
    width: 40px !important;
  }
  
  .team-card.hover {
    box-shadow: 0px 20px 48px #00260214;
  }
  
  .team-card.default {
    border: 1px solid;
    border-color: var(--gray-scalegray-100);
  }
  
  .team-card.hover .image-8 {
    left: 20px;
    top: 296px;
  }
  
  .team-card.default .image-8 {
    left: 19px;
    top: 295px;
  }
  