.logo {
    align-items: center;
    display: inline-flex;
    gap: 8px;
    position: relative;
  }
  
  .logo .plant {
    height: 32px;
    position: relative;
    width: 32px;
  }
  
  .logo .text-wrapper {
    color: var(--gren-gray-scale900);
    font-family: "Poppins", Helvetica;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.96px;
    line-height: Truepx;
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  