.div-wrapper {
    background-image: url(https://c.animaapp.com/cRCWnf9W/img/rectangle-54-6.png);
    background-size: 100% 100%;
    height: 536px;
    position: relative;
    width: 424px;
  }
  
  .div-wrapper .sale {
    align-items: center;
    display: inline-flex;
    gap: 8px;
    left: 130px;
    position: absolute;
    top: 126px;
  }
  
  .div-wrapper .text-wrapper-57 {
    color: var(--gray-scalewhite);
    font-family: var(--body-large-body-large-400-font-family);
    font-size: var(--body-large-body-large-400-font-size);
    font-style: var(--body-large-body-large-400-font-style);
    font-weight: var(--body-large-body-large-400-font-weight);
    letter-spacing: var(--body-large-body-large-400-letter-spacing);
    line-height: var(--body-large-body-large-400-line-height);
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .div-wrapper .text-wrapper-58 {
    color: var(--brandingwarning);
    font-family: var(--body-XL-body-XL-600-font-family);
    font-size: var(--body-XL-body-XL-600-font-size);
    font-style: var(--body-XL-body-XL-600-font-style);
    font-weight: var(--body-XL-body-XL-600-font-weight);
    letter-spacing: var(--body-XL-body-XL-600-letter-spacing);
    line-height: var(--body-XL-body-XL-600-line-height);
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .div-wrapper .text-wrapper-59 {
    color: var(--gray-scalewhite);
    font-family: var(--heading-03-heading-03-600-font-family);
    font-size: var(--heading-03-heading-03-600-font-size);
    font-style: var(--heading-03-heading-03-600-font-style);
    font-weight: var(--heading-03-heading-03-600-font-weight);
    left: 0;
    letter-spacing: var(--heading-03-heading-03-600-letter-spacing);
    line-height: var(--heading-03-heading-03-600-line-height);
    position: absolute;
    text-align: center;
    top: 64px;
    width: 424px;
  }
  
  .div-wrapper .element-fat-free {
    color: var(--gray-scalewhite);
    font-family: var(--CAPS-LOCK-medium-caps-lock-font-family);
    font-size: var(--CAPS-LOCK-medium-caps-lock-font-size);
    font-style: var(--CAPS-LOCK-medium-caps-lock-font-style);
    font-weight: var(--CAPS-LOCK-medium-caps-lock-font-weight);
    left: 0;
    letter-spacing: var(--CAPS-LOCK-medium-caps-lock-letter-spacing);
    line-height: var(--CAPS-LOCK-medium-caps-lock-line-height);
    position: absolute;
    text-align: center;
    top: 34px;
    width: 424px;
  }
  
  .div-wrapper .button-10 {
    all: unset;
    align-items: center;
    background-color: var(--gray-scalewhite);
    border-radius: 43px;
    box-sizing: border-box;
    display: inline-flex;
    gap: 12px;
    justify-content: center;
    left: 131px;
    padding: 14px 32px;
    position: absolute;
    top: 184px;
  }
  
  .div-wrapper .text-wrapper-60 {
    color: var(--brandingsuccess);
    font-family: var(--body-small-body-small-600-font-family);
    font-size: var(--body-small-body-small-600-font-size);
    font-style: var(--body-small-body-small-600-font-style);
    font-weight: var(--body-small-body-small-600-font-weight);
    letter-spacing: var(--body-small-body-small-600-letter-spacing);
    line-height: var(--body-small-body-small-600-line-height);
    margin-top: -0.50px;
    position: relative;
    text-align: justify;
    white-space: nowrap;
    width: fit-content;
  }
  
  .div-wrapper .group-9 {
    height: 13.55px;
    margin-right: -0.75px;
    position: relative;
    width: 16.5px;
  }
  