@import url("https://fonts.googleapis.com/css?family=Poppins:var(--body-medium-body-medium-600-font-weight),var(--heading-05-heading-05-600-font-weight),600,var(--CAPS-LOCK-small-caps-lock-font-weight),var(--body-XXL-body-XXL-600-font-weight),var(--body-large-body-large-400-font-weight),var(--body-small-body-small-600-font-weight),var(--heading-02-heading-02-600-font-weight),var(--body-XXL-body-XXL-400-font-weight),400,var(--CAPS-LOCK-medium-caps-lock-font-weight),var(--body-XL-body-XL-600-font-weight),var(--body-XXL-body-XXL-500-font-weight),var(--heading-05-heading-05-400-font-weight),var(--heading-03-heading-03-600-font-weight),var(--body-tiny-body-tiny-400-font-weight),var(--body-large-body-large-500-font-weight),var(--body-small-body-small-500-font-weight),var(--body-XL-body-XL-500-font-weight),var(--heading-04-heading-04-400-font-weight),500,var(--body-medium-body-medium-500-font-weight),var(--body-large-body-large-600-font-weight),var(--body-small-body-small-400-font-weight),var(--body-medium-body-medium-400-font-weight)");
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
      * {
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
      }
      html,
      body {
        margin: 0px;
        height: 100%;
      }
      /* a blue color as a generic focus style */
      button:focus-visible {
        outline: 2px solid #4a90e2 !important;
        outline: -webkit-focus-ring-color auto 5px !important;
      }
      a {
        text-decoration: none;
      }